.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

body {
  background: #fcfcfcda;
}

h2 {
  color: #636363;
}

.caution {
  color: #636363;
  font-size: 10px;
  font-style: italic;
  line-height: 5px;
}

a.active {
  color: teal;
}

.nav {
  left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 10px;
  padding: 5px 0px 15px 0px;
  border: solid 2px #636363;
  border-radius: 4px;
  background: #ffffff;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  color: #636363;
  height: 32px;
  background: lightgrey;
}

.userLink {
  position: absolute;
  left: 335px;
  bottom: 10px;
}

.formBtn {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 10px;
  padding: 5px 0px 25px 0px;
  border: solid 2px #636363;
  border-radius: 4px;
  color: #551A8B;
  cursor: pointer;
  background: #ffffff;
}

.formInput {
  font-size: 16px;
  height: 25px;
  width: 250px;
}

.firstNav {
  position: absolute;
  left: 15px;
}

.secondNav {
  position: absolute;
  left: 130px;
}

.logout {
  position: absolute;
  right: 15px;
}

.tagline {
  color: #636363;
  font-style: italic;
}

/* .userWelcome { FIX OR REMOVE!!!
  position: sticky;
  left: 250px;
  bottom: 1000px;
} */

.TripCard {
  float: left;
  width: 450px;
  height: 150px;
  margin: 10px;
  border-radius: 8px;
  border: solid 5px #636363;
  position: relative;
  top: 30px;
  left: 50px;
  color: #636363;
}

.tripName {
  float: left;
  margin-left: 40px;
  text-decoration: none;
  color: teal;
}

.tripCategory {
  position: absolute;
  margin-top: 40px;
  margin-left: 45px;
}

.tripDuration {
  position: absolute;
  margin-top: 70px;
  margin-left: 45px;
  font-size: 14px;
  font-weight: bold;
}

.TripShow {
  border-radius: 8px;
  width: 650px;
  margin: auto;
  padding: 2px 0px 20px 0px;
  background: lightgrey;
}

.showCategory {
  font-size: 14px;
  font-weight: bold;
  color: #636363;
  
}

.showDuration {
  font-size: 14px;
  font-weight: bold;
  color: #636363;
}